@media screen and (max-width: 1079px) {
  .lastHeader{
    display: flex;
    justify-content: center;
    height: 30rem;
    background-color: black;
    border-top: white solid;
  }

  .css-button-arrow--black {
    display: block;
    position: relative;
    min-width: 8.125rem;
    height: 2.5rem;
    margin: 1rem auto;
    padding: 0.3125rem 0.625;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    color: #fff;
    background-color: black;
    font-weight: bold;
    outline: none;
    overflow: hidden;
    transition: all 0.1s ease;
  }
  .css-button-arrow--black:active {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
    border-radius: 0.3125rem;
  }
  .css-button-arrow--black:active:after {
    opacity: 1;
    right: 0.625rem;
  }
  .css-button-arrow--black:after {
    position: absolute;
    content: "\00BB";
    line-height: 2.5rem;
    font-size: 1.25rem;
    opacity: 0;
    top: 0;
    right: -1.5rem;
    transition: 0.2s;
  }

  .divLine1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55%;
    margin: 0 auto;
    background-color: black;
  }

  .divLine2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    margin: 0 auto;
    background-color: black;
  }

  .Line1 {
    width: 100%;
    height: 0.125rem;
    margin: 0 auto;
    background-color: white;
  }

  .divDerechos {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: white;
  }
}

@media screen and (min-width: 1080px) {
  .lastHeader{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 24.375rem;
    margin-top: 0;
    background-color: black;
  }
  
  .Links {
    display: flex;
    width: 100%;
    height: 1.875rem;
    margin-top: 1.25rem;
    color: white;
    font-size: 1.25rem;
  }

  .css-button-arrow--black {
    display: inline-block;
    position: relative;
    min-width: 8.125rem;
    height: 2.5rem;
    margin: 0 auto;
    padding: 0.3125rem 0.625;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    color: #fff;
    background-color: black;
    font-weight: bold;
    outline: none;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .css-button-arrow--black:hover {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
    border-radius: 0.3125rem;
  }
  .css-button-arrow--black:hover:after {
    opacity: 1;
    right: 0.625rem;
  }
  .css-button-arrow--black:after {
    position: absolute;
    content: "\00BB";
    line-height: 2.5rem;
    font-size: 1.25rem;
    opacity: 0;
    top: 0;
    right: -1.5rem;
    transition: 0.4s;
  }

  .divLine1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    margin: 0 20rem auto 20rem;
    background-color: black;
  }


  .divLine2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    margin: 0 20rem auto 20rem;
    background-color: black;
  }
  
  .Line1 {
    width: 100%;
    height: 0.125rem;
    margin: 2rem auto;
    background-color: white;
  }

  .Line2 {
    width: 100%;
    height: 0.125rem;
    margin-top: 12rem;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    background-color: white;
  }

  .divDerechos {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 1rem;
    margin: 0 auto;
    color: white;
  }
}