@media screen and (min-width: 1080px) {
  .header{
    width: 100%;
    height: 6rem;
    background: linear-gradient(to right, rgb(31, 2, 112), rgb(173, 34, 104));
    background: linear-gradient(to right, rgb(28, 155, 132), rgb(83, 28, 155));
    background: black;
    color: white;
    display: flex;
    font-size: 2rem ;
    border-bottom: 1px solid white;
  }

  .logo{
    display: flex;
    margin: 0 auto;
    min-width: 4rem;
  }

  .welcome{
    margin: auto;
    color: white;
    text-decoration: none;
    font-size: 3rem;
  }

  .css-button-neumorphic-login{
    min-width: 8rem;
    max-width: 130px;
    height: 40px;
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
    background: black;
    border: 1px solid white;
    color: white;
    margin-top: auto;
    margin-right: 0.25rem;
    margin-bottom: auto;
    margin-left: auto;
  }

  .css-button-neumorphic-login:hover {
    box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
    background: white;
    color: black;
  }
}