.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: black;
}

.logo {
  height: 6rem;
  margin: 0 auto;
}

.css-button-neumorphic-login {
  display: none;
}

/* Desktop design */
@media screen and (min-width: 1080px) {
  .header{
    display: flex;
    width: 100%;
    height: 4.5rem;
    color: white;
    background: black;
  }

  .logo{
    min-width: 5.5rem;
    height: 100%;
    margin: auto auto auto 0.5rem;
  }

  .css-button-neumorphic-login{
    display: inline-block;
    position: relative;
    min-width: 8rem;
    height: 2.4rem;
    margin: auto 2rem auto auto;
    padding: 0.25rem 0.6rem;
    cursor: pointer;
    color: white;
    background: black;
    font-weight: bold;
    border: 1px solid white;
    outline: none;
    transition: all 0.3s ease;
  }

  .css-button-neumorphic-login:hover {
    color: black;
    background: white;
    box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
  }
}